footer {
	position: fixed;
	bottom: 0px;
	padding-top: 30px;
	width: 100%;
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');


/* HEADER */
.menu-navigation-round {
    font:bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}

.menu-navigation-round a {
    color: #748c99;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 20px auto;
    line-height: 2;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}

.menu-navigation-round a.selected {
    color: #ffffff;
    background-color: #9eb9cc;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0 5px auto;
}

/* Making the navigation menu responsive */

.slicknav_menu {
    display:none;
}

@media (max-width: 600px) {
    .menu-navigation-round{
        display:none;
    }

    .slicknav_menu {
        display:block;
    }
}

/* FIN HEADER*/

/* FOOTER */
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 20px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}
/* FIN FOOTER */

/* NAVIGATION */
/* The main content */

.main-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    padding-top: 40px;
    margin: 0 0 40px 210px;
}


/* The left sidebar */

.sidebar-left {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #292c2f;
    width: 120px;
    height: 100%;
    padding: 20px 0;
}

.sidebar-left a.company-logo {
    display: block;
    text-decoration: none;
    font-family: Cookie, cursive;
    width: 76px;
    height: 76px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color:  #000
    font-size: 28px;
    font-weight: normal;
    line-height: 2.6;
    border-radius: 5%;
    background-color:  #fff;
}

.sidebar-left .sidebar-links {
    margin: 20px auto;
}

.sidebar-left .sidebar-links a {
    display: block;
    text-decoration: none;
    margin: 0 auto 5px auto;
    padding: 20px 0;
    background-color: #35393e;
    text-align: center;
    color:  #b3bcc5;
    font-size: 12px;
    font-weight: bold;
    border-left-width: 2px;
    border-left-style: solid;
}

.sidebar-left .sidebar-links a i.fa {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}

.sidebar-left .sidebar-links a.selected{
    background-color: #ffffff;
    color:  #7c8085;
    font-size: 12px;
    font-weight: bold;
    cursor: default;
}

/* Link Colors */

.sidebar-left .sidebar-links a.link-blue {
    border-color: #487db2;
}
.sidebar-left .sidebar-links a.link-blue i.fa {
    color: #487db2;
}

.sidebar-left .sidebar-links a.link-red {
    border-color: #da4545;
}
.sidebar-left .sidebar-links a.link-red i.fa {
    color: #da4545;
}

.sidebar-left .sidebar-links a.link-yellow {
    border-color: #d0d237;
}
.sidebar-left .sidebar-links a.link-yellow i.fa {
    color: #d0d237;
}

.sidebar-left .sidebar-links a.link-green {
    border-color: #86be2e;
}
.sidebar-left .sidebar-links a.link-green i.fa {
    color: #86be2e;
}

/* Making the sidebar responsive */

@media (max-width: 900px) {

    .main-content{
        max-width: none;
        padding: 40px 20px;
        margin: 0 0 40px;
    }

    .sidebar-left {
        width: auto;
        height: auto;
        position: inherit;
        padding: 20px 0 0;
    }

    .sidebar-left .sidebar-links {
        text-align: center;
        margin: 20px auto 0;
    }

    .sidebar-left .sidebar-links a {
        display: inline-block;
        width: 100px;
        margin: 0;
        padding: 14px 0;
        border-left: none;
        border-top-width: 2px;
        border-top-style: solid;
    }

}

/* Mobile phone layout */

@media (max-width: 450px) {

    .sidebar-left {
        padding: 20px 0;
    }

    .sidebar-left .sidebar-links {
        text-align: center;
        margin: 20px auto 0;
    }

    .sidebar-left .sidebar-links a {
        display: block;
        max-width: 240px;
        width: auto;
        vertical-align: middle;
        text-align: left;
        margin: 0 auto 5px;
        padding: 10px 25px;
        border-top: none;
        border-left-width: 2px;
        border-left-style: solid;
    }

    .sidebar-left .sidebar-links a i.fa {
        display: inline-block;
        font-size: 20px;
        width: 20px;
        margin: 0 20px 0 0;
        vertical-align: middle;
    }

}

/*  Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
    margin: 0;
    padding: 0;
}

/* FIN NAVIGATION*/